<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <title>About us</title>
</head>
<body>
  <header>
    <%- include('header.ejs') %>
  </header>
  <main id="aboutmain">
    <div class="container">
      <img src="/assets/aboutmeimages/casphoto.jpeg" alt="Cas" class="image">
      <div class="overlay">
        <div class="text">
          <h2 class="myname">Cas Olejniczak</h2>
          A native of Milwaukee, Wisconsin, Cas moved to Seattle 2 years ago to pursue her childhood dream of living anywhere but the Midwest. When she isn't obsessively tinkering with CSS, she spends her time cooking, walking in nature, playing Zelda, watching anime, enjoying stand-up comedy, and singing in the car.
        </div>
      </div>
    </div>
    <div class="container">
   <img src="/assets/aboutmeimages/claytonphoto.jpeg" alt="Clayton" class="image">
     <div class="overlay">
        <div class="text">
        <h2 class="myname">Clayton Jones</h2>
        Software developer and massage therapist, Clayton enjoys spending his free time at the gym, cycling, playing video games, and silently wishing Game of Thrones season 8 never happened... Yeah still salty.
        </div>
      </div>
    </div>
    <div class="container">
       <img src="/assets/aboutmeimages/eyobphoto.jpeg" alt="Eyob" class="image">
       <div class="overlay">
        <div class="text">

        <h2 class="myname">Eyob Tamir</h2>
          Eyob Tamir is currently a full-stack javascript student at code fellows, owner of Bolt trucking business in Seattle. He is originally from Ethiopia, his favorites hobbies are watching, playing soccer and go out to a local attractive place with a family and friends.
    </div>
  </div>
</div>
      <div class="container">
      <img src="/assets/aboutmeimages/suephoto.jpeg" alt="Sue" class="image">
      <div class="overlay">
        <div class="text">

        <h2 class="myname">Sue Duclos</h2>
          Sue is a Software Developer with a background in Finance and Operations. She loves spending time with her family and dabbling in the creative arts. 
    </div> 
  </div>
</div>
  </main>
  <footer>
    <%- include('footer.ejs') %>
  </footer>
</body>
</html>