<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <title>About us</title>
</head>
<body>
  <header>
    <%- include('header.ejs') %>
  </header>
  <main id="aboutmain">
    <div class="container">
      <img src="/assets/aboutmeimages/casphoto.jpeg" alt="Cas" class="image">
      <div class="overlay">
        <div class="text">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also 
        </div>
      </div>
    </div>
    <div class="container">
   <img src="/assets/aboutmeimages/claytonphoto.jpeg" alt="Clayton" class="image">
     <div class="overlay">
        <div class="text">
        Software developer and massage therapist, Clayton enjoys spending his free time at the gym, cycling, playing video games, and silently wishing Game of Thrones season 8 never happened... Yeah still salty.
        </div>
      </div>
    </div>
    <div class="container">
       <img src="/assets/aboutmeimages/eyobphoto.jpeg" alt="Eyob" class="image">
       <div class="overlay">
        <div class="text">
          Eyob Tamir is currently a full-stack javascript student at code fellows, owner of Bolt trucking business in Seattle. He is originally from Ethiopia, his favorites hobbies are watching, playing soccer and go out to a local attractive place with a family and friends.
    </div>
  </div>
</div>
      <div class="container">
      <img src="/assets/aboutmeimages/suephoto.jpeg" alt="Sue" class="image">
      <div class="overlay">
        <div class="text">
          Sue is a Software Developer with a background in Finance and Operations. She loves spending time with her family and dabbling in the creative arts. 
    </div> 
  </div>
</div>
  </main>
  <footer>
    <%- include('footer.ejs') %>
  </footer>
</body>
</html>