<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
</head>
<body>
  <section id="errormsg">
    <h1>An Error Has Occurred</h1>
    <h3>Try searching again!<br>Be sure to check your spelling<br>& that you are searching for a valid country</h3>
  </section>
</body>
</html>