<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/layout.css">
  <link rel="stylesheet" href="css/state.css">
  <link rel="stylesheet" href="css/theme.css">
</head>
<body>

  <header>
    <h1 id="logo">xPatriate</h1>
  </header>
   
  <main>
    <nav>
      <button>Search for Country</button>
      <button>Filter by Region</button>
    </nav>

    <!-- <section id="searchform" class="form"> -->
      <form id="newsearch" class="form" method="post" action="/searchspecific">
          <input id="searchbar" type="text" name ="search" placeholder="Search for a Specific Country"/>
          <button>Search</button>
      </form>
    <!-- </section> -->

    <!-- <section class="form"> -->
      <form id="regionform" class="form" method="" action="">
        <label for="region">Region</label>
        <select id="region">
          <option value="africa">Africa</option>
          <option value="americas">Americas</option>
          <option value="asia">Asia</option>
          <option value="europe">Europe</option>
          <option value="oceania">Oceania</option>
        </select>
        <label for="subregion">SubRegion</label>
        <select id="subregion">
          <option value="northern africa">Northern Africa</option>
        </select>
        <label for="language">Language</label>
        <select id="language">
          <option value="arabic">Arabic</option>
        </select>
        <button>Search</button>
      </form>
    <!-- </section> -->






    <section id="savedlist">
      <h1>Saved Countries will live here</h1>
      <!-- <ul id="temp"> -->
        <% countries.forEach(country => { %>
          <section class="country">
            <img class="flagimg" src="<%- country.flag_url %>"/>
            <p class="countryname">
              <%- country.name %>
            </p>
          </section>
        <% }) %>
      <!-- </ul> -->
    </section>

  </main>

  <footer>
    <p>&copy; 2020 Sue Duclos, Clayton Jones, Cas Olejniczak, Eyob Tamir</p>
    <a href="/about" id="aboutlink">About Our Team</a>
  </footer>
  <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
  <!-- <script src="js/app.js"></script> -->
</body>
</html>