header {
  background-color: #002022ab;
  color: #eee;
  width: 100%;
  /* margin: 1rem; */
  max-height: 20vh;
}

header h1 {
  font-family: 'Montserrat Subrayada';
}

#logo {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

