header{
  background-color: #002022ab;
  color: #eee;
  width: 100%;
  /* margin: 1rem; */
  max-height: 20vh;
}
header h1{
  font-family: 'Montserrat Subrayada';
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  max-height: 5rem;
  overflow: scroll;
  color: #eee;
  border: 1px solid #eee;
  padding: .2rem;
}