body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  flex: 1;
  width: 50%;
}

main #results {
  width: 90%;
  background-color: #002022ab;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  max-height: 72vh;
  overflow: scroll;
}

main h2 {
  text-align: center;
  color: #eee;
  width: 60%;
  margin: .75rem auto;

}

body .form,
#savedlist {
  margin-top: 1rem;
  padding: .5rem 0;
}

main nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: .5rem;
}

nav button,
a button {
  margin: 0 .5rem;
  width: 5rem;
  height: fit-content;
  border-radius: .5rem;
  background-color: #002022ab;
  color: #eee;
}

nav button:hover,
a button:hover {
  background-color: #eee;
  color: #002022ab;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-color: #002022ab;
  color: #eee;

}

.form select {
  width: 40%;
  height: 1.5rem;
  margin: .15rem;
  text-align: center;
}

.form input {
  margin: .15rem;
  width: 90%;
  font-size: 1rem;
  text-align: center;
}

.form button {
  background-color: #002022ab;
  color: #eee;
  border-radius: .5rem;
  margin-top: .25rem;
}

.form button:hover {
  background-color: #eee;
  color: #002022ab;
  cursor: pointer;
}

#savedlist {
  height: 26vh;
  text-align: center;
  background-color: #002022ab;
  color: #eee;
}

#savedlist h1 {
  padding: .25rem 0;
}

#savedlist section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  max-height: 20vh;
  overflow: scroll;
  scroll-behavior: smooth;
}

body footer {
  max-height: 10vh;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  background-color: #002022ab;
  color: #eee;
}

button {
  display: block;
}

/* css for detail page */
#detailsmain{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
#detailsmain h1{
  color: #eee;
  
}
#details{
  background-color:  #002022ab;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: .5rem;
  max-height: 64vh;
  overflow: scroll;


}
#details img{
  max-width: 45%;
 
}
#details h2{
  font-size: 2rem;
  margin: .5rem auto;
}
#details p{
  color: #eee;
  margin: .3rem 0;
}
#savebutton{
  height: fit-content;
  margin-top: .5rem;
  background-color: #002022ab;
  color: #eee;
  border-radius: .5rem;
}
#savebutton:hover {
  cursor: pointer;
  background-color: #eee;
  color: #002022ab;
}

#errormain {
  display: flex;
  justify-content: center;
  align-items: center;
}

#errormsg {
  background-color: rgba(238, 238, 238, 0.8);
  padding: 1rem;
  border-radius: .5rem;
  text-align: center;
}

#errormsg h1 {
  font-size: 1.5em;
}

#nocountries {
  text-align: center;
  padding: 1rem;
  color: #eee;
}
#errormsg a button{
  width: 20%;
  margin: auto;
}
