@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada&display=swap" rel="stylesheet');
@import url('base.css');
@import url('layout.css');
@import url('modules/errors.css');
@import url('modules/country.css');
@import url('modules/result.css');
@import url('modules/nav.css');
@import url('modules/bio.css');

body, html {
  width: 100vw;
  height: 100vh;
}

body {
  /* The image used */
  background-image: url("/assets/maps.jpeg");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

