/* styling for country cards displayed on index and results list */

.countrybutton {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #002022ab;
  border: 2px solid #eee;
  border-radius: 10px;
  color: #eee;
  margin: .25rem .25rem;
}

.countrybutton:hover {
  background-color: #eee;
  color: #002022ab;
  cursor: pointer;
  box-shadow: 2px #111;
}

.countrybutton:active {
  transform: translateY(2px);
  box-shadow: none;
}

.countrybutton img {
  max-width: 3rem;
}

.countrybutton p {
  padding: .25rem .25rem;
  font-size: 1.5rem;
}

/* styling for country details */

#detailsmain {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

#detailsmain h1 {
  color: #eee;
  
}

#details {
  background-color: #002022ab;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: .5rem;
  max-height: 64vh;
  overflow: scroll;
}

#details img {
  max-width: 45%;
}

#details h2 {
  font-size: 2rem;
  margin: .5rem auto;
}

#details p {
  color: #eee;
  margin: .3rem 0;
  text-align: center;
}

#details ul {
  color: #eee;
}

#details li {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  margin: .3rem 0;
}

#advisorybox {
  max-width: 45%;
  margin-top: .4rem;
  border: 1px solid #eee;
}

#currency_rates {
  min-height: 4rem;
  overflow: scroll;
  color: #eee;
  border: 1px solid #eee;
  padding: .2rem;
}

#savebutton {
  height: fit-content;
  margin-top: .5rem;
  background-color: #002022ab;
  color: #eee;
  border-radius: .5rem;
}
#savebutton:hover {
  cursor: pointer;
  background-color: #eee;
  color: #002022ab;
}
