/* styling for list of results */

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: .5rem auto;
  border: .1rem solid rgba(238, 238, 238, 0.26);
  border-radius: .1rem;
  padding: .5rem;
}

.result img {
  max-width: 5rem;
}

.result form button {
  height: fit-content;
  margin-top: .5rem;
  background-color: #002022ab;
  color: #eee;
  border-radius: .5rem;
}

.result form button:hover {
  cursor: pointer;
  background-color: #eee;
  color: #002022ab;

}

main #results {
  width: 90%;
  background-color: #002022ab;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1.5rem auto;
  max-height: 72vh;
  overflow: scroll;
}
#advisory_data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

ul div {
  width: 5rem;
  height: 3rem;
  margin: 1rem;
}

#green {
  background-color: rgba(111, 175, 38);
}

#yellow {
  background-color: rgb(252, 216, 11);
}

#orange {
  background-color: rgb(207, 148, 37);
}

#red {
  background-color: rgb(243, 64, 100);
}
